@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background-image: url("../assests/background.jpeg");
}

.cream_background { background-color: #f2f2f2; }
.pointer {cursor: pointer;}
