<div class="container-fluid section1">
    <div class="row">
        <div class="col-md-1 section1_1">
            <div class="social-container">
                <div class="nav flex-column">
                    <a class="fa fa-linkedin animated slideInLeft"></a>
                    <a class="fa fa-github animated slideInLeft"></a>
                    <a class="fa fa-twitter animated slideInLeft"></a>
                    <a class="fa fa-instagram animated slideInLeft"></a>
                    <a class="fa fa-reddit animated slideInLeft"></a>
                </div>
            </div>
        </div>
        <div class="col-md-11 section1_2 animated fadeIn">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid section2">
    <div class="row">
        <div class="col-lg-7">
            <div class="about-me-wrapper">
                <p style="margin-bottom: 0px">For about 4 years now, my passion towards web application development has
                    continued to grow as I learn new and exciting technologies. Throughout this time, I’ve obtained my
                    bachelor’s degree in computer science and spent countless hours researching and practicing various
                    software technologies.</p>
                <p class="p2">However, the one I find myself always coming back to is web application development. From a
                    client-side, I’m able to express my inner creativity via visual web design. From a server-side, I
                    continue to challenge myself by developing the best possible architectures. Combining the two helps
                    fuel my on-going passion for such a phenomenon.</p>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="me-img-wrapper">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Hi, I'm Christian</h4>
                    </div>
                    <div class="col-md-12 text-center">
                        <img class="img-fluid" src="../../assets/me.jpg" alt="Me">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>