<div class="container-fluid section1">
    <div class="row">
        <div class="col-md-1 section1_1">
            <div class="social-container">
                <div class="nav flex-column">
                    <a class="fa fa-linkedin animated slideInLeft"></a>
                    <a class="fa fa-github animated slideInLeft"></a>
                    <a class="fa fa-twitter animated slideInLeft"></a>
                    <a class="fa fa-instagram animated slideInLeft"></a>
                    <a class="fa fa-reddit animated slideInLeft"></a>
                </div>
            </div>
        </div>
        <div class="col-md-11 section1_2 animated fadeIn">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid section2">
    <div class="row">
        <div class="col-lg-7">
            <div class="about-me-wrapper">
                <p style="margin-bottom: 0px">For about 4 years now, my passion towards web application development has
                    continued to grow as I learn new and exciting technologies. Throughout this time, I’ve obtained my
                    bachelor’s degree in computer science and spent countless hours researching and practicing various
                    software technologies.</p>
                <p class="p2">However, the one I find myself always coming back to is web application development. From
                    a
                    client-side, I’m able to express my inner creativity via visual web design. From a server-side, I
                    continue to challenge myself by developing the best possible architectures. Combining the two helps
                    fuel my on-going passion for such a phenomenon.</p>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="me-img-wrapper">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Hi, I'm Christian</h4>
                    </div>
                    <div class="col-md-12 text-center">
                        <img class="img-fluid" src="../../assets/me.jpg" alt="Me">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid section3">
    <div class="row">
        <div class="col-sm-12">
            <h2>Experience</h2>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-4 clientExp">
            <div class="list-group">
                <h3 class="list-group-item active waves-light">Client-Side</h3>
                <a href="https://angular.io/" class="list-group-item waves-light" mdbWavesEffect>Angular 6+
                    <img src="../../assets/angular.png" alt="angular">
                </a>
                <a href="https://vuejs.org/" class="list-group-item waves-light" mdbWavesEffect>Vue 1+
                    <img src="../../assets/vue.png" alt="vue">
                </a>
                <a href="https://jquery.com/" class="list-group-item waves-light" mdbWavesEffect>jQuery
                    <img src="../../assets/jquery.png" alt="jquery">
                </a>
                <a href="https://getbootstrap.com/" class="list-group-item waves-light" mdbWavesEffect>Bootstrap
                    <img src="../../assets/bootstrap.png" alt="bootstrap">
                </a>
            </div>
        </div>
        <div class="col-lg-4 serverExp">
            <div class="list-group">
                <h3 class="list-group-item active waves-light">Server-Side</h3>
                <a href="https://spring.io/projects/spring-boot" class="list-group-item waves-light"
                    mdbWavesEffect>Spring Boot
                    <img src="../../assets/spring-boot.png" alt="spring boot">
                </a>
                <a href="https://restfulapi.net/" class="list-group-item waves-light" mdbWavesEffect>RESTful API
                    <img src="../../assets/restful-api.png" alt="restful api">
                </a>
                <a href="http://tomcat.apache.org/" class="list-group-item waves-light" mdbWavesEffect>Tomcat
                    <img src="../../assets/tomcat.png" alt="tomcat">
                </a>
                <a href="https://nodejs.org/en/" class="list-group-item waves-light" mdbWavesEffect>Node js
                    <img src="../../assets/node.png" alt="node js">
                </a>
            </div>
        </div>
        <div class="col-lg-4 otherExp">
            <div class="list-group">
                <h3 class="list-group-item active waves-light">Database</h3>
                <a href="https://www.mysql.com/" class="list-group-item waves-light" mdbWavesEffect>mySQL
                    <img src="../../assets/mysql.png" alt="mysql"></a>
                <a href="https://www.oracle.com/database/technologies/appdev/sql-developer.html"
                    class="list-group-item waves-light" mdbWavesEffect>Oracle
                    <img src="../../assets/oracle.png" alt="oracle"></a>
                <a href="https://azure.microsoft.com/en-us/" class="list-group-item waves-light" mdbWavesEffect>Azure
                    <img src="../../assets/azure.png" alt="azure"></a>
                <a href="https://firebase.google.com/" class="list-group-item waves-light" mdbWavesEffect>Firebase
                    <img src="../../assets/firebase.png" alt="firebase"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center experience-wrapper">
            <a routerLink="/experience">View Full List</a>
        </div>
    </div>
</div>