.container-fluid {
    transform: translate(0%, 50%);
}

.fa {
    font-size: 30px;
    width: 50px;
    color: white !important;
    text-decoration: none;
    margin: 5px 2px 20px;
}

.fa:hover {
    transition: 200ms;
    color: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width:575px) {
    .container-fluid {
        transform: translate(0%,-20%) !important;
        width: 100% !important;
        text-align: center;
    }
    .fa {
        font-size: 20px;
        margin: 5px 0px 20px;
    }
    .menu {
        width: 100% !important;
    }
    .nav {
        display: inline !important;
    }
}