.nav-link {
    font-size: 24px;
    padding: 10px;
    margin-right: 80px;
}

@media (max-width: 900px) {
    .nav-link {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    nav {
        justify-content: left !important;
        background-color: #837f7c;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .nav-link {
        margin-right: 0px;
        text-align: left !important;
        font-size: 18px;
        color: rgba(255,255,255,.5) !important;
    }
    button {
        background-color: #908c89;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

button {
    outline: none;
}

.active-route {
    color: white !important;
}